{% extends "gallery/base.html" %} {% block head_title %}Projects | {{ block.super }}{% endblock head_title %} {% block content %}
<div class="row page-content">
    <div class="col-md-12">
        <h1>projects</h1>
    </div>
    <div class="col-md-2 col-sm-8">
        <h3><a href="in-concept">in concept</a></h3>
        <h3><a href="in-review">in review</a></h3>
        <h3><a href="in-progress">in progress</a></h3>
    </div>
    <div class="col-md-12">
        <hr>
    </div>
</div>
{% endblock content %}
