{% extends "gallery/base.html" %} {% block head_title %}About | {{ block.super }}{% endblock head_title %} {% block content %}
<div class="row page-content">
    <div class="col-md-12">
        <h1>about</h1>
    </div>
    <div class="col-md-2 col-sm-8">
        <h3><a href="my-person">my person</a></h3>
        <h3><a href="my-tools">my tools</a></h3>
        <h3><a href="my-workspaces">my workspaces</a></h3>
        <h3><a href="my-toys">my toys</a></h3>
        <h3><a href="my-adventures">my adventures</a></h3>
    </div>
    <div class="col-md-12">
        <hr>
    </div>
</div>
{% endblock content %}
